In [1]:
import pandas as pd

In [17]:
'''
Read Data and loading it into the system
'''

top250 = pd.read_csv("restaurants_top2020/Top250.csv")

In [18]:
top250.head(3)

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken

### Checking top250's data

#### For this project, we will only be working on the top250's restaurant data and storing it in a data warehouse to be use as a combination for further analysis

In [19]:
restaurant_categories = top250['Segment_Category'].unique()
restaurant_categories

array(['Quick Service & Burger', 'Quick Service & Coffee Cafe',
       'Quick Service & Chicken', 'Quick Service & Mexican',
       'Quick Service & Sandwich', 'Quick Service & Pizza',
       'Fast Casual & Bakery Cafe', 'Fast Casual & Mexican',
       'Casual Dining & Italian/Pizza', 'Casual Dining & Varied Menu',
       'Fast Casual & Asian/Noodle', 'Quick Service & Frozen Desserts',
       'Casual Dining & Sports Bar', 'Family Dining & Family Style',
       'Casual Dining & Steak', 'Casual Dining & Seafood',
       'Fast Casual & Sandwich', 'Fast Casual & Chicken',
       'Quick Service & Family Casual', 'Fast Casual & Burger',
       'Casual Dining & Asian', 'Quick Service & Snack', 'Steak',
       'Quick Service & Beverage', 'Sports Bar',
       'Quick Service & Seafood', 'Quick Service & Bakery Cafe',
       'Fast Casual & Pizza', 'Fine Dining & Steak', 'Mexican',
       'Varied Menu', 'Chicken', 'Italian/Pizza', 'Pizza', 'Seafood',
       'Frozen Desserts', 'Coffee Cafe', 'BBQ', 'Sandwich', 'Bakery Cafe',
       'Burger', 'Asian', 'Family Style', 'Asian/Noodle', 'Family Casual',
       'Snack', 'Healthy', 'Ethnic'], dtype=object)

In [20]:
for category in restaurant_categories:
    if 'Asian' in category:
        print(category)

Fast Casual & Asian/Noodle
Casual Dining & Asian
Asian
Asian/Noodle